body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://s3-screenshots.int-cdn.lcpdfrusercontent.com/monthly_2016_07/577bc20861855_WindowsXP-NoProgramsOpen.jpg.259d5bb1b6e4e0d9bacfc3ce7886ff46.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;

}

ul {
    margin-left: 0px;
    margin-top: 0px;
    padding-left: 0px;
}

li {
    list-style-type: none;
    width: 100px;
    margin: 0px;

    font-size: 12px;
    padding: 0px 10px;
    -webkit-text-stroke: 0.1px black;
    text-align: center;
}

img {
    width: 80px;
    height: 60px;
    margin-bottom: 0px;
}

p {
    margin-top: 0px;
}

.container--notepad {
    position: fixed;
    top: 25%;
    left: 25%;
    z-index: 9999;
    display: none;
    width: 600px;
}

.container--notepad img {
    width: 100%;
    height: auto;
    display: block;
}

.container--notepad-text {
    position: absolute;
    top: 4.3em;
    left: 0.4em;
    color: black;
    font-size: 12px;

}