body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://s3-screenshots.int-cdn.lcpdfrusercontent.com/monthly_2016_07/577bc20861855_WindowsXP-NoProgramsOpen.jpg.259d5bb1b6e4e0d9bacfc3ce7886ff46.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}